main {
  padding: 1rem;
  color: #0d1b2a;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}
h3,
h4,
.exp p:nth-child(2) {
  text-decoration: underline;
}

#portfolio {
  margin-top: 3rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px #0d1b2a;
  background-color: whitesmoke;
}

#left-bar {
  min-width: 25%;
  padding: 1rem;
  background-color: #0d1b2a;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  line-height: 3rem;
}

#right-portion {
  flex: 1;
  padding: 1rem;
  line-height: 3rem;
  margin-left: 1rem;
}

#image {
  width: 15rem;
  height: auto;
  border: 0.5rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #0d1b2a;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  height: 15rem;
}

#contact ul li a {
  color: whitesmoke;
}

#description {
  text-wrap: wrap;
}

#skills-table {
  overflow-x: auto;
}

#skills-table table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1rem;
}

#skills-table table tr:nth-child(even) {
  background-color: #0d1b2a;
}

#skills-table table tr th {
  border-right: 1px solid #222222;
}

#skills-table table tr td {
  padding: 0 0.5rem;
}

#experience .exp,
.exp p {
  padding-left: 1rem;
}

@media only screen and (max-width: 1400px) {
  #portfolio {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  #right-portion {
    order: -1;
  }

  #image {
    display: none;
  }

  #info {
    display: flex;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #contact ul li {
    word-break: break-all;
  }
}

@media only screen and (max-width: 700px) {
  #info {
    justify-content: flex-start;
  }
}
