@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*Wave Background*/

/* Add this CSS to enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, #0d1b2a 3%, #1b263b 38%, #415a77 68%, #778da9 98%);
  animation: gradient 15s ease infinite;
  background-size: 500% 500%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1000% 1000% 0 0;
    position:fixed;
    width: 200%;
    height: 20em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transform-style: flat; /* Ensuring no interference from universal selector */
    transform-style: flat; 
}



.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*Wave Background*/

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}


header{
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





/*Navbar*/

.webtitle{
    font-size: 3rem;
    margin: .7rem;
    color: whitesmoke;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding:0;
}

.navbar ul li{
    list-style: none;
    height: 5rem;
    line-height: 3rem;
    transition: all .2s linear;
    font-size: 1.25rem;
}

.navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
    padding: 1rem;
    display: block;
}


.menu-button{
    width: 50px;
}


/*CV Dropdown*/
 
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding: 0;
}

.cvbtn{padding-bottom: 0 !important;}

.schdbtn{padding-bottom: 0 !important;}
 
.dropdown-content a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 8px !important ;
    padding-right: 8px !important ;
    min-width: 50px !important;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction:column;
    padding: 0;
}
  
/*CV Dropdown*/

/*Navbar*/



/*Main Sider Bar*/
#hero-section{
  margin-top: 5rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hero-content{
  width: 35rem;
  margin-left: 20rem;
  display: flex;
  flex-direction: column !important;
  align-items: left;
}

#hero-description{
  display: flex;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: whitesmoke;
}


#hero-title{
  text-align: left;
  display: flex;
  font-size: 3rem;
  color: whitesmoke;
}

#laptop-icon{
margin-left: 15rem;

}
  
/*Quiz Sider Bar*/
/* SIDEBAR
====================*/

#sidebarsection1, #sidebarsection2, #sidebarsection3{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    margin-bottom: 30px;

}

#sidebarsections{
  position: fixed;
}

#sidebararrow1, #sidebararrow2, #sidebararrow3{
    width: 40px;
    display: block;
    margin-left: 0px;
    animation-duration: 1s; /* Animation duration */
    animation-fill-mode: forwards;
}

#sidebar1, #sidebar2, #sidebar3{
    width: 85px;
    height: 20px;
    animation-duration: 1s; /* Animation duration */
    animation-fill-mode: forwards;
}

#sidebarcont1, #sidebarcont2, #sidebarcont3{
    margin-left: 10px;
    animation-duration: 1s; /* Animation duration */
    animation-fill-mode: forwards;
    text-decoration: none;
    color: whitesmoke;
}

@keyframes slideIn {
    from {
        width: 0px;
    }
    to {
        width: 85px;

    }
}

@keyframes slideOut {
    from {
        width: 85px;

    }
    to {
        width: 0px;

    }
}


@keyframes slideContIn {
    from {
        margin-left: -100px;
    }
    to {
        margin-left: 10px;

    }
}

@keyframes slideContOut {
    from {
        margin-left: 10px;

    }
    to {
        margin-left: -100px;

    }
}





  /*Computer Animation*/


  /*About Section*/

#about-section{
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: whitesmoke;
}

#abt-us{
  width: 65rem;
}

#about-title{
  font-size: 2.5rem;
   display: flex;
   margin-bottom:  2rem;
}




.about-button{
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  font-size: 1.1rem;
  padding-top: 1.8rem;
  background-color: white;
  cursor: pointer;
  transition: all .2s linear;
  color: #1b263b ;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 3rem;
}

.about-button:hover, .about-button:focus{
    box-shadow: 0px 0px 20px 10px #b8b7b7;
}


  /*About Section*/



    /*Read Section*/

#read-title{
  font-size: 2.5rem;
  color: whitesmoke;
  margin-bottom:  2rem;

}

#read-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
}

#read-section h2{
  width: 80%;
  text-align: center;
}

.read-info h3{
  margin-top: 1rem;
}

#articles{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  color: #1b263b ;
}

#articles article{
  margin:1rem;
  width: 30rem;
  min-height: 35rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 1rem;
  backdrop-filter: blur(30px);
  box-shadow: 3px 3px 10px whitesmoke;
  cursor: pointer;
}

#articles article:hover, #articles article:focus{
  box-shadow: 3px 3px 10px whitesmoke;;
}

#articles a{
  color: #1b263b ;
  text-decoration: none;
}

.learn{
  text-decoration: underline !important;
  transition: all .1s linear;
}

.learn:focus, .learn:hover{
  text-shadow: 0px 5px 10px #1b263b ;
  
}

#internet{
  width: 12rem;
  height: 38rem;
}

#web{
  transition-delay: 200ms;
  width: 12rem;
  height: 38rem;
}


#statistics{
  transition-delay: 400ms;
  width: 12rem;
  height: 38rem;
}

.read-image{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}


/*Quiz Section*/

#quiz-section{
  align-items: center !important;
  justify-content: center !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
  margin-bottom: 3rem;
  color: whitesmoke;
}

#quiz-title{
  font-size: 2.5rem;
  display: flex;
  margin-bottom:  2rem;
}

#quiz-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#quiz-description{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 50%;
 text-align: justify;
 margin-right: 6rem;
 line-height: 2rem;
 font-size: 1.25rem;
}


#quiz-icon{
  width:15rem;
}

.quiz-button{
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  font-size: 1.1rem;
  padding-top: 1.6rem;
  background-color: white;
  cursor: pointer;
  transition: all .2s linear;
  color: #1b263b ;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 3rem;
}

.quiz-button:hover, .quiz-button:focus{
  box-shadow: 0px 0px 20px 10px #b8b7b7;
}



footer{
  width:100%;
  height: 4rem;
  background-color: #0d1b2a ;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; /* Pushes footer to the bottom */
}

#return-to-top{
  bottom: 4rem;
  right: 1.75rem;
  position: fixed;
  width: 5rem;
 display:none;
}

